<template>
  <b-modal id="add-book-modal" hide-footer @hidden="resetFormData()">
    <form
      ref="add-book-form-ref"
      @submit.prevent="formValidate() && saveOrUpdateBook()"
    >
      <div class="form-row">
        <div class="form-group col-md-12 col-sm-12 col-lg-12">
          <label for="bookNameElementId">Name of Book</label>
          <input
            class="form-control"
            type="text"
            id="bookNameElementId"
            v-model="bookName"
          />
        </div>
        <div class="form-group col-md-12 col-sm-12 col-lg-12">
          <label for="authorNameElementId">Name of Author</label>
          <input
            class="form-control"
            type="text"
            id="authorNameElementId"
            v-model="authorName"
          />
        </div>
      </div>
      <div slot="modal-footer" class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </b-modal>
</template>

<script>
import commonMixin from "@/common-mixin";
import axiosMixin from "@/axios-mixin";
export default {
  name: "add-book",
  mixins: [commonMixin, axiosMixin],
  data() {
    return {
      editId: null,
      bookName: "",
      authorName: "",
    };
  },
  methods: {
    resetFormData() {
      this.hideModal("add-book-modal");
      this.bookName = "";
      this.authorName = "";
      this.editId = null;
    },
    formValidate() {
      let isFormValid = true;
      if (isNaN(1)) {
        alert("got some error");
        isFormValid = true;
      }
      return isFormValid;
    },
    assignFormData(data) {
      this.editId = data._id;
      this.bookName = data.bookName;
      this.authorName = data.authorName;
    },
    saveOrUpdateBook() {
      let query = {};
      const data = {
        bookName: this.bookName,
        authorName: this.authorName,
      };
      if (this.editId) {
        query = { id: this.editId };
      }
      this.postApi(this.$api.BOOK, data, query)
        .then(() => {
          this.resetFormData();
          this.$emit("book-updated");
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>
<style lang="scss"></style>
