<template>
  <div>
    <div
      class="row p-2 m-0"
    >
      <div class="col-md-10 col-lg-10 col-col-sm-10">
        <h2 class="heading text-left">Books</h2>
      </div>
      <div class="col-md-2 col-lg-2 col-col-sm-2">
        <b-button class="add-button btn-lg rounded-pill" @click="addNewBook()">Add Book</b-button>
      </div>
    </div>
    <add-book ref="add-book-ref" @book-updated="getBooks()"></add-book>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sno.</th>
          <th scope="col">Book</th>
          <th scope="col">Author</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="index + 1">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ item.bookName }}</td>
          <td>{{ item.authorName }}</td>
          <td>
            <a href="javascript:void(0)" class="main-anchor" title="Edit" @click="editItem(item)"
              ><i class="fas fa-edit p-1"></i
            ></a>
            <a href="javascript:void(0)" title="Delete" class="main-anchor" @click="deleteItem(item, index)"
              ><i class="fas fa-trash-alt p-1"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import AddBook from "@/components/add-book";
import axiosMixin from "@/axios-mixin";
import _ from "underscore";

export default {
  name: "book",
  mixins: [axiosMixin],
  components: {
    AddBook,
  },
  created() {
    this.getBooks();
  },
  data() {
    return {
      items: [],
    };
  },
  methods: {
    addNewBook() {
      this.$refs["add-book-ref"].showModal("add-book-modal");
    },
    editItem(item) {
      this.$refs["add-book-ref"].showModal("add-book-modal");
      this.$refs["add-book-ref"].assignFormData(item);
    },
    deleteItem(item, index) {
      const query = {
        id: item._id,
      };
      this.deleteApi(this.$api.BOOK, query)
        .then(() => {
          this.items.splice(index, 1)
        })
        .catch((err) => console.log(err));
    },
    getBooks() {
      this.getApi(this.$api.BOOK)
        .then((res) => {
          if (
            res.status === 200 &&
            !_.isEmpty(res) &&
            !_.isEmpty(res.data) &&
            !_.isEmpty(res.data.data)
          ) {
            this.items = [...res.data.data];
          }
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss">
.book-table-header {
  background: aquamarine;
}
.heading {
  text-transform: uppercase;
    font-weight: bold;
}
</style>
