<template>
  <div class="row h-100">
    <div :class="[isSidebarOpen ? 'col-md-2' : 'd-none', 'sidebar', 'p-2']">
      <dashboard-sidebar ref="sidebar-ref"></dashboard-sidebar>
    </div>
    <div
      :class="[
        isSidebarOpen ? 'col-md-10' : 'col-md-12',
        'container-fluid',
        'p-0'
      ]"
    >
      <dashboard-header
        ref="header-ref"
        @toggle-sidebar="toggleSidebar()"
      ></dashboard-header>
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import DashboardHeader from "@/components/header";
import DashboardSidebar from "@/components/sidebar";

export default {
  name: "app-dashboard",
  data: function() {
    return {
      isSidebarOpen: true,
    };
  },
  components: {
    DashboardHeader,
    DashboardSidebar,
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    },
  },
  computed: {},
};
</script>
<style lang="scss"></style>
