<template>
  <div class="row header-background m-0 app-shadow">
    <div class="col-md-1">
      <a
        class="main-anchor"
        href="javascript:void(0)"
        @click="$emit('toggle-sidebar')"
        style="font-size: 2em;"
      >
        <i class="fas fa-bars"></i>
      </a>
    </div>
    <div class="col-md-10">
      
    </div>
    <div class="col-md-1">
      <b-dropdown dropleft 
      
        size="lg"
        variant="link"
        toggle-class="text-decoration-none"
        no-caret
      >
        <template #button-content>
          <a href="javascript:void(0)" class="main-anchor">
            <i class="fas fa-user-circle"></i>
          </a>
        </template>
        <b-dropdown-item href="javascript:void(0)">Profile</b-dropdown-item>
        <b-dropdown-item href="javascript:void(0)" @click="logOut()">Logout</b-dropdown-item>
      </b-dropdown>
      </div>
  </div>
</template>
<script>
export default {
  name: "dashboard-header",
  data: function() {
    return {
      isDropdownOpen: false,
    };
  },
  methods: {
    toggleDropdown() {
      this.isDropdownOpen = !this.isDropdownOpen;
    },
    logOut() {
      localStorage.removeItem("Token");
      this.$router.push({ path: "/login" });
    },
  },
};
</script>
<style lang="scss"></style>
