<template>
  <div class="container-fluid h-100 page-bg">
    <form @submit.prevent="formValidate() && submitForm()">
      <div class="card m-auto card-bg" style="max-width: 25rem;">
        <div class="card-header">
          {{ isRegisteredUser ? "SIGN IN" : "SIGN UP" }}
        </div>
        <div class="card-body text-left">
          <div class="form-row">
            <div
              class="form-group col-md-12 col-sm-12 col-lg-12"
              v-if="!isRegisteredUser"
            >
              <label for="userNameElementId">Name</label>
              <input
                class="form-control"
                type="text"
                id="userNameElementId"
                v-model="userName"
              />
            </div>
            <div class="form-group col-md-12 col-sm-12 col-lg-12">
              <label for="mobileNoElementId">Mobile No.</label>
              <input
                class="form-control"
                type="number"
                id="mobileNoElementId"
                v-model="mobileNo"
              />
            </div>
            <div class="form-group col-md-12 col-sm-12 col-lg-12">
              <label for="passwordElementId">Password</label>
              <input
                class="form-control"
                type="password"
                id="passwordElementId"
                v-model="password"
              />
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary main-button w-100">
            {{ isRegisteredUser ? "Login" : "Register" }}
          </button>
          <a
            class="text-decoration-none"
            href="javascript:void(0)"
            @click="isRegisteredUser = !isRegisteredUser"
          >
            {{
              isRegisteredUser
                ? "New Member ? Register"
                : "Already Registered ? Login"
            }}
          </a>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";
import commonMixin from "@/common-mixin";
import axiosMixin from "@/axios-mixin";
export default {
  name: "login-form",
  mixins: [commonMixin, axiosMixin],
  data() {
    return {
      isRegisteredUser: true,
      mobileNo: "",
      userName: "",
      password: "",
    };
  },
  methods: {
    formValidate() {
      let isFormValid = true;
      return isFormValid;
    },
    submitForm() {
      if (this.isRegisteredUser) {
        const data = {
          mobileNo: this.mobileNo,
          password: this.password,
        };
        this.postApi(this.$api.LOGIN, data, {}, false)
          .then((res) => {
            console.log(res);
            this.$toasted.show("Login Successfully");
            localStorage.setItem("Token", res.data.accessToken);
            this.$router.push("home/book");
          })
          .catch((err) => {
            console.log(err);
            this.$toasted.error("Login Error");
          });
      } else {
        const data = {
          userName: this.userName,
          mobileNo: this.mobileNo,
          password: this.password,
        };
        this.postApi(this.$api.REGISTER, data, {}, false)
          .then((res) => {
            console.log(res);
            Vue.$toast.success("Register Successfully");
            this.isRegisteredUser = true;
          })
          .catch((err) => {
            console.log(err);
            Vue.$toast.error("Registration Error");
          });
      }
    },
  },
};
</script>
<style lang="scss">
.card-bg {
  background: aliceblue;
}
.page-bg {
  background: aquamarine;
  padding-top: 25vh;
}
</style>
