<template>
  <div class="d-flex flex-column">
    <div class="p-2">
      <h2 class="font-weight-bold">Vue Sample</h2>
    </div>
    <hr>
    <div class="p-2 mt-2">
      <ul>
        <li class="parent-list">
          <a
            v-b-toggle
            href="#example-collapse"
            aria-expanded="false"
            aria-controls="example-collapse"
            @click.prevent
          >
            Dashboard
            <span><i class="fas fa-chevron-right"></i></span>
          </a>
          <b-collapse
            class="sidebar-submenu collapse my-2"
            id="example-collapse"
          >
            <ul class="sub-menu">
              <li>
                <a href="#">Dashboard 1 </a>
              </li>
              <hr />
              <li>
                <a href="#">Dashboard 2</a>
              </li>
            </ul>
          </b-collapse>
        </li>
        <hr />
        <li class="parent-list">
          <a v-b-toggle href="#menu-collapse" @click.prevent>
            Menu
            <span><i class="fas fa-chevron-right"></i></span>
          </a>
          <b-collapse class="sidebar-submenu collapse my-2" id="menu-collapse">
            <ul class="sub-menu">
              <li>
                <a href="#">Menu 1 </a>
              </li>
              <hr />
              <li>
                <a href="#">Menu 2</a>
              </li>
            </ul>
          </b-collapse>
        </li>
        <hr />
        <li class="parent-list">
          <a v-b-toggle href="#book-collapse" @click.prevent>
            Book
            <span><i class="fas fa-chevron-right"></i></span>
          </a>
          <b-collapse class="sidebar-submenu collapse my-2" id="book-collapse">
            <ul class="sub-menu">
              <li>
                <a href="#">Book 1 </a>
              </li>
              <hr />
              <li>
                <a href="#">Book 2</a>
              </li>
            </ul>
          </b-collapse>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "dashboard-sidebar",
};
</script>
<style lang="scss">
li {
  a {
    text-decoration: none !important;
    color: $purple-light;
    &:hover {
      color: $purple-dark !important;
    }
    .fa-chevron-right {
      float: right;
    }
  }
  a.not-collapsed .fa-chevron-right {
    transform: rotate(90deg);
    transition-duration: 0.7s;
  }
  .sidebar-submenu {
    // background: #a736df;
    li {
      // padding: 3px;
    }
  }
}
li.parent-list {
  list-style-type: none;
  // padding: 10px;
}
hr {
  width: 100%;
  margin: 0%;
}
h2 {
  text-transform: uppercase;
  color: $purple-light;
  &:hover {
    cursor: pointer;
    color: $purple-dark;
  }
}
</style>
