/* Variables Declaration */
$sky-color: #4cd5eb;
$purple-dark: #640a90;
$purple-light: #9c3bcc;
$red-light: #f9a1baf2;
$aquamarine-light: aquamarine;
$smoke-white: #e9ecef;


.main-button {
  background-color: $purple-light !important;
  border-color: $purple-light !important;
  &:hover {
    background-color: $purple-dark !important;
    border-color: $purple-dark !important;
  }
}
.main-anchor {
  font-size: 25px;
  color: $purple-light !important;
  &:hover {
    color: $purple-dark !important;
  }
}

.header-background {
  background-color: $aquamarine-light;
}

thead {
  background-color: $purple-light;
  border-color: $purple-light !important;
  color: white;
  text-transform: uppercase;
}
.app-shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.sidebar {
  background: $aquamarine-light;
  @extend .app-shadow;
}

.add-button {
  @extend .main-button;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-dialog {
  header, button{
    @extend .main-button;
    color: white;
  }
}

.form-control:focus {
  border-color: #9c3bcc;
  box-shadow: 0 0 0 0.2rem #dca6f7;
}